<div class="movie-card">
<img src="{{poster_path}}" alt="{{original_title}}" class="movie-card_poster">
    <div class="movie-card_rating">{{vote_average}}/10</div>
    <h2 class="movie-card_title">{{original_title}}</h2>
    <p class="movie-card_description">{{overview}}</p>
</div>